services:
  app:
    build:
      context: .
      dockerfile: .devcontainer/Dockerfile
    volumes:
      - .:/workspace:cached
    working_dir: /workspace
    ports:
      - "8080:8080"
    environment:
      - APP_ENV=dev∆í
      - XDEBUG_MODE=debug,develop
      - XDEBUG_CONFIG=client_host=host.docker.internal client_port=9003

      # DB (novo)
      - DB_HOST=db
      - DB_PORT=3306
      - DB_NAME=app
      - DB_USER=app
      - DB_PASS=app
    extra_hosts:
      - "host.docker.internal:host-gateway"
    command: php -S 0.0.0.0:8080 -t public
    depends_on:
      db:
        condition: service_healthy

  db:
    image: mysql:8.0
    platform: linux/arm64/v8
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: app
      MYSQL_USER: app
      MYSQL_PASSWORD: app
    ports:
      - "3307:3306"   # recomendo 3307 no host
    volumes:
      - dbdata:/var/lib/mysql
      - ./docker/mysql/init:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-proot"]
      interval: 5s
      timeout: 3s
      retries: 30

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

volumes:
  dbdata: